<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="new-container">
    <div class="new-form-container">
      <h1>Create a New Hunt</h1>
    <form action="/hunts" method="POST">
        <label for="monsterName">Monster Name:</label>
        

        <select id="monsterName" name="mhwid">
            <% monsters.forEach(monster => { %>
                <option value="<%= monster.id %>"><%= monster.name %></option>
            <% }) %>
        </select>
        
        <label for="weaponType">Weapon Type:</label>

            <select id="weaponType" name="mhwtype">
            <% weapons.forEach(weapon => { %>
                <option value="<%= weapon %>"><%= weapon %></option>
            <% }) %>
        </select>

        <label for="rank">Rank:</label>
        <input type="number" id="rank" name="rank" min="1" value="0"required>

        <label for="outcome">Outcome:</label>
        <input type="number" id="outcome" name="outcome" min="0" value="0" required>

        <label for="minutes">Minutes:</label>
        <input type="number" id="minutes" name="minutes" min="0" value="0" required>

        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes">

        <button type="submit">Create Hunt</button>
    </form>
  </div>
  </div>
</body>