<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= hunt.owner.username %>'s hunt</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Hunt Details for <%= hunt.monsterName %></h1>

    <h2>Hunt Information</h2>
        <p>Monster Name: <%= hunt.monsterName %></p>
        <p>Weapon Type: <%= hunt.weaponType %></p>
        <p>Rank: <%= hunt.rank %></p>
        <p>Outcome: <%= hunt.outcome %></p>
        <p>Minutes: <%= hunt.minutes %></p>
        <p>Notes: <%= hunt.notes %></p>
        <p>Hunted by: <%= hunt.owner.username %></p>


        <h2>Description from MHW DB</h2>
        <p>Monster Name: <%= monster.name %></p>
        <p>Monster Description: <%= monster.description %></p>
        

        <h2>Hunter</h2>
        <% if(hunt.owner._id.equals(user._id)) { %>
            <p><%= hunt.owner.username %></p>
            <a href="/hunts/<%= hunt._id %>/edit">Edit Hunt</a>
            <form action="/hunts/<%= hunt._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Hunt</button>
            </form>
        <% } else { %>
            <p>This is <%= hunt.owner.username %>'s hunt against <%= hunt.monsterName %></p>
        <% } %>
    
        <h2>Favorites</h2>
        <p>Favorited by <%= hunt.favoritedByUsers.length %></p>
        <% if(userHasLikedItem) { %>
            <p>You have favorited this hunt.</p>
            <form
         action="/hunts/<%= hunt._id %>/favorited-by/<%= user._id %>?_method=DELETE"
         method="POST">
            <button type="submit">Unfavorite this Hunt</button>
        </form>
        
        <% } else { %>
        <form
         action="/hunts/<%= hunt._id %>/favorited-by/<%= user._id %>" 
         method="POST">
            <button type="submit">Favorite this Hunt</button>
        </form>
        <% } %>

</body>
</html>