<body>
    <%- include('../partials/_navbar.ejs') %>
    div class="profile-container">
    <h1>Profile</h1>
    <p>You own <%= myHunts.length %> <%= myHunts.length === 1 ? "hunt" : "hunts" %>.</p>
    <div class = "profile-card-container"
        <% myHunts.forEach(hunt => { %>
                <a href="/hunts/<%= hunt._id %>"> <h4><%= hunt.monsterName %> - <%= hunt.outcome %></h4>
                </a>
        <% }) %>
    </div>

    <div class="profile-favorites-container">
    <p>You have favorited <%= myFavoritedHunts.length %> <%= myFavoritedHunts.length === 1 ? "hunt" : "hunts" %>.</p>
    <div class>= "profile-card-container"
        <% myHunts.forEach(hunt => { %>
            <li>
                <a href="/hunts/<%= hunt._id %>"><%= hunt.monsterName %> - <%= hunt.outcome %></a>
            </li>
        <% }) %>
    </div>
    </div>
    </div>
  </body>