<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Profile</h1>

    <h2>My Hunts</h2>
    <p>You own <%= myHunts.length %> <%= myHunts.length === 1 ? "hunt" : "hunts" %>.</p>

    <ul>
        <% myHunts.forEach(hunt => { %>
            <li>
                <a href="/hunts/<%= hunt._id %>"><%= hunt.monsterName %> - <%= hunt.outcome %></a>
            </li>
        <% }) %>
    </ul>

    <h2>My Favorited Hunts</h2>
    <p>You have favorited <%= myFavoritedHunts.length %> <%= myFavoritedHunts.length === 1 ? "hunt" : "hunts" %>.</p>
    <ul>
        <% myHunts.forEach(hunt => { %>
            <li>
                <a href="/hunts/<%= hunt._id %>"><%= hunt.monsterName %> - <%= hunt.outcome %></a>
            </li>
        <% }) %>
    </ul>
  </body>
  
</html>
